services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: commute-live-app
    command: npm run start -- --tunnel --clear
    environment:
      EXPO_NO_TELEMETRY: "1"
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "19006:19006"
    volumes:
      - ./:/usr/src/app
      - app_node_modules:/usr/src/app/node_modules
    stdin_open: true
    tty: true

volumes:
  app_node_modules:
